registry=https://registry.npm.taobao.org #淘宝源

#registry=http://10.50.31.211:18081/repository/npm-group/#公司私服这个地址只能用来下载，不能用来publish
#registry=http://10.50.31.211:18081/repository/npm-hosted/#公司私服这个地址只能用来publish
#registry=http://10.50.31.211:4873/ # 公司私服（将来弃用）既能用来publish也能用来下载
# auth=eWFvbG9uZy55ZTp5YW9sb25nMTIzNDU= # 私服帐号
#always-auth=false
#sass_binary_path=/users/sh007/workspace/element/win32-x64-83_binding.node
#sass_binary_site=http://10.50.31.211:18081/repository/npm-node-sass-mirro-proxy/ # 私服node-sass
#sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
#SKIP_SASS_BINARY_DOWNLOAD_FOR_CI=true
#SKIP_NODE_SASS_TESTS=true
#chromedriver_cdnurl=http://cdn.npm.taobao.org/dist/chromedriver
#chromedriver_cdnurl=http://10.50.31.211:18081/repository/chromedriver/ # chromedriver的cdn地址


#npm rebuild node-sass --save-dev #如果您在项目中使用了node-sass，并且 no suche file node-sass/vendor，可以尝试执行此命令

